<CollectionsResources/>

@using Cherry.Lib.Core.Disco.ContentViewer
@inherits ResourceViewBase<IObjectCollection>

<div
    style="width: 100%; margin-top: 24px;">
    <Paper Style="width: 100%; overflow-x: auto;">
        <Table
            Style="max-height: 80vh; overflow: auto;"
            aria-labelledby="tableTitle"
            StickyHeader
            aria-label="sticky table">
            <TableHead>
                <TableRow>
                    @{var first = true;}
                    @foreach (var accessor in Resource.Accesors)
                    {
                        <TableCell Align="@(first ? Align.Left : Align.Right)">
                            @CreateSortableColumn(accessor)
                        </TableCell>
                        {
                            first = false;
                        }
                    }
                </TableRow>
            </TableHead>
            <TableBody>
                @if (Fetching)
                {
                    <TableRow>
                        <TableCell colspan="@(Resource.Accesors.Count())" Align="Align.Center">
                            <CircularProgress/>
                        </TableCell>
                    </TableRow>
                }
                else
                {
                    @foreach (var row in Items)
                    {
                        <tr class="TableRow-Root TableRow-Body TableRow-Hover">
                            @{ var first = true; }
                            @foreach (var accessor in Resource.Accesors)
                            {
                                <td class=@($"TableCell-Root TableCell-Body {(first ? "" : "TableCell-Align-Right")}")>@accessor.Getter(row)</td>
                                {
                                    first = false;
                                }
                            }
                        </tr>
                    }
                }
            </TableBody>
        </Table>
    </Paper>
</div>

@code
{
    private bool Fetching = false;

    private IEnumerable<object> Items = new List<object>();


    private string SortMessage => "sort " + (Resource.Direction == SortDirection.Desc ? "descending" : "ascending");

    protected override void OnInitialized()
    {
        base.OnInitialized();
        FetchItems();
    }

    private RenderFragment CreateSortableColumn(Accessor accessor)
    {
        return @<TableSortLabel
                    Active="@(Resource.SortedBy == accessor)"
                    Direction="@(Resource.Direction == SortDirection.Asc ? Sort.Ascending : Sort.Descending)"
                    OnClick="@CreateOnSortClick(accessor)">
                   @accessor.Title
                   @if (Resource.SortedBy == accessor)
                   {
                       <span class="object-sort-visually-hidden">
                           @SortMessage
                       </span>
                   }
               </TableSortLabel>;
    }

    private async Task FetchItems()
    {
        Fetching = true;
        StateHasChanged();

        Items = await Resource.FetchItems();

        Fetching = false;
        StateHasChanged();
    }

    private EventCallback<EventArgs> CreateOnSortClick(Accessor accessor)
    {
        return EventCallback.Factory.Create<System.EventArgs>(this, (_) => { HandleSortClick(accessor); });
    }


    private void HandleSortClick(Accessor accessor)
    {
        Resource.SortedBy = accessor;
        Resource.Direction = Resource.Direction == SortDirection.Asc ? SortDirection.Desc : SortDirection.Asc;

        FetchItems();
    }
}